<section class="content-main  mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title pl-70"> Admin Sign in</h4>
                    <form id="login-form">
                        <div class="mb-3">
                            <input name="email" class="form-control" placeholder="Username or email" type="text">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input name="password" class="form-control" placeholder="Password" type="password">
                        </div> <!-- form-group// -->
                        
                        <div class="mb-4">
                            <button id="login-submit"  class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                   
                </div>
            </div>
 </section>



   <style>
            .form-control.error:not(#search-form-control){
        border-color: red;}
        </style>