 <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <form  id="otp-form">
      <div class="input-field">
        <input type="number" />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
        <input type="number" disabled />
      </div>
      <h6 id='errorMessage' style='color: red; text-align: center;font-size:medium;font-weight:normal' ></h6>
      <button id="submit-otp">Verify OTP</button>
      
    </form>
    <p id="timer">Time remaining: <span id="countdown">10</span> seconds</p>
    <button id="resendButton" onclick="resendOTP()" style="display: none;">Resend OTP</button>
  </div>