<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara user</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/css/maind134.css?v=3.4">
    
    
</head>

<body>
  {{>quick_view}}
 {{#if user}}  {{>user_nav}}  {{/if}}
    <main class="main">
   {{{body}}}
    </main>
  {{#if user}}  {{>user_footer}} {{/if}}
    <!-- Preloader Start -->
    {{!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <!-- Vendor JS-->
    <script src="user/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user/js/plugins/slick.js"></script>
    <script src="user/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user/js/plugins/wow.js"></script>
    <script src="user/js/plugins/jquery-ui.js"></script>
    <script src="user/js/plugins/perfect-scrollbar.js"></script>
    <script src="user/js/plugins/magnific-popup.js"></script>
    <script src="user/js/plugins/select2.min.js"></script>
    <script src="user/js/plugins/waypoints.js"></script>
    <script src="user/js/plugins/counterup.js"></script>
    <script src="user/js/plugins/jquery.countdown.min.js"></script>
    <script src="user/js/plugins/images-loaded.js"></script>
    <script src="user/js/plugins/isotope.js"></script>
    <script src="user/js/plugins/scrollup.js"></script>
    <script src="user/js/plugins/jquery.vticker-min.js"></script>
    <script src="user/js/plugins/jquery.theia.sticky.js"></script>
    <script src="user/js/plugins/jquery.elevatezoom.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       {{!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> --}}
    <!-- Template  JS -->
       <script src="user/js/main.js" type="text/javascript"></script>
      
    <script src="user/js/maind134.js?v=3.4"></script>
    <script src="user/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:09 GMT -->
</html>